:root {
    --color:rgb(0, 0, 0);
    --color1:rgb(224, 206, 206);
}

* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--color);
}

li {
    float: left;
}

a {
    color: var(--color1);
    text-decoration: none;
    padding: 20px;
    display: block;
}

a:hover {
    background-color: blanchedalmond;
}