body {
  margin: 0;
  background-color: #b3b3b3;
  display: flex;
}

#main-card {
  margin: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
}