body {
  margin: 0;
  background-color: #b3b3b3;
  display: flex;
}

#main-card {
  margin: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 95%;
  height: 100%;
  margin-top: 20px;
  border-radius:10px;
  padding:5px;
}
#image-card{
  overflow: hidden;
  margin: 0;
  background-color: black;
}
#image-card img {
  width:100%;
  padding-top:2px;
  object-fit: cover;
}