body {
  margin: 0;
  background-color: #b3b3b3;
}

#main-card {
  margin: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 50%;
}